@using MvcAddUserExample.Models
@using MvcAddUserExample.Core.Constants

@model  UserRegistrationViewModel

@{
    ViewBag.Title = "Register a new user";
}
<h1>Register a new user account</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { required = true, placeholder = "username@example.com", autofocus = true } })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-row">
        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new {
            required = true,
            placeholder = $"At least {PasswordRestrictions.MINIMUM_LENGTH} characters",
            minlength = PasswordRestrictions.MINIMUM_LENGTH
        }})
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="form-row">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new {
       required = true,
       placeholder = "As above",
       minlength = PasswordRestrictions.MINIMUM_LENGTH
   }
   })
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>

    <div>
        <button type="submit">Create User</button>
    </div>
}